body {
  background-color: #f2f2f2;
  margin: 0;
  line-height: 1.15;
}

html,
#root {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
