.single-post-container {
  display: flex;
  height: 35rem;
  width: 65rem;
}
.single-post-img {
  height: 35rem;
  width: 32.5rem;
  object-fit: cover;
  background-color: rgb(231, 229, 229);
  border-top-left-radius: 4.5px;
  border-bottom-left-radius: 4.5px;
}

.comments-header {
  display: flex;
  height: 4rem;
  padding: 0.8rem;
  align-items: center;
  border-bottom: 1px solid rgb(73, 73, 73);
  justify-content: space-between;
}
.profile-pic-comments {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.edit-delete-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.comment-container {
  display: flex;
  flex-direction: column;
  width: 32.5rem;
  background-color: rgb(22, 22, 22);
}

.profile-link {
  font-weight: 600;
  text-transform: lowercase;
  color: white;
}
.profile-link:hover {
  text-decoration: underline;
  color: white;
}

.description {
  display: flex;
  gap: 0.5rem;
  padding: 0.8rem;
  align-items: center;
}

.post-comments {
  overflow-y: scroll;
  height: 23rem;
  border-bottom: 1px solid rgb(73, 73, 73);
}

.comment-span {
  word-wrap: break-word;
}

.create-comment {
  display: flex;
  flex-direction: column;
}

.like-icon {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: red;
  width: 2rem;
}
.like-icon:hover {
  cursor: pointer;
}

.unlike-icon {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  background-color: none;
}
