.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 13px;
  background: rgba(250, 250, 250, 1);
  padding: 9px 0 7px 8px;
  border: rgb(218, 218, 218);
  border-width: 0.1px;
  border-style: solid;
  cursor: text;
  width: 15rem;
  border-radius: 5px;
}

.loginBtn {
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #458eff;
  margin-top: 0.5rem;
  width: 15rem;
}
