.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup-form {
  display: flex;
  flex-direction: column;
  height: 28rem;
  width: 30em;
  align-items: center;
  justify-content: center;
  border: rgb(73, 73, 73);
  border-width: 0.1px;
  border-style: solid;
  background-color: rgb(22, 22, 22);
  gap: 0.6rem;
}
.form-input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.label-container {
  display: flex;
  align-items: center;
  width: 8.5rem;
  height: 2rem;
}
.signup-button {
  margin-top: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #458eff;
  width: 9rem;
}

.logo {
  margin-bottom: 1rem;
}
.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  height: 4rem;
  width: 30rem;

  align-items: center;
  justify-content: center;
  border: rgb(73, 73, 73);
  border-width: 0.1px;
  border-style: solid;
  background-color: rgb(22, 22, 22);
}

.login-container > span > a {
  color: #458eff;
}

.uploadInput {
  color: black;
}
