.splash-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 90vh;
  align-items: center;
  margin-top: 5rem;
}

.header-img-container {
  display: flex;
  background-image: url('https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png');
  background-position: 0 0;
  background-size: 454px 618px;
  height: 618px;
  background-repeat: no-repeat;
  flex-direction: row;
  width: 26rem;
}
.content-container {
  justify-content: center;
  padding-bottom: 32px;
}

.description-container {
  height: 38rem;
}

.top-description {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  height: 23rem;
  width: 22rem;
  margin-left: 1.5rem;
  align-items: center;
  border: rgb(218, 218, 218);
  border-width: 0.1px;
  border-style: solid;
  background-color: white;
}

.description-title {
  font-size: 2rem;
}
.title {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-direction: column;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.title > span {
  color: rgb(145, 145, 145);
  font-weight: 540;
  line-height: 20px;
}

.or {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  width: 15.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dash {
  background-color: #efefef;
  height: 1px;
  width: 8rem;
}

.demoBtn {
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #458eff;
  width: 15rem;
}

.signup-div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  height: 4rem;
  width: 22rem;
  margin-left: 1.5rem;
  align-items: center;
  justify-content: center;
  border: rgb(218, 218, 218);
  border-width: 0.1px;
  border-style: solid;
  background-color: white;
}
.signup-div > span > a {
  color: #458eff;
}

.description-title {
  font-family: 'Pushster', cursive;
}
.orSpan {
  font-size: 14px;
  color: rgb(145, 145, 145);
}

.splash-footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 22rem;
  margin-left: 1.5rem;
}
.splash-footer > span {
  font-size: 12px;
  color: rgb(145, 145, 145);
  text-align: center;
}
.splash-icons {
  display: flex;
  gap: 0.5rem;
}

.workout-gif {
  position: relative;
  object-fit: cover;
  top: 96px;
  left: 143px;
  height: 27.18rem;
  width: 16rem;
}
