.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.homepage-post-img {
  height: auto;
  width: 100%;
  object-fit: contain;
  background-color: black;
  cursor: pointer;
}

.homepage-container {
  display: flex;
  margin-top: 8rem;
  gap: 2.5rem;
  justify-content: center;
}
.username-nickname {
  display: flex;
  flex-direction: column;
}

.homepage-post-container {
  width: 30rem;
}
.homepage-post-profile {
  display: flex;
  background-color: rgb(22, 22, 22);
  height: 3.2rem;
  align-items: center;
  gap: 0.7rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.homepage-post-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: rgb(73, 73, 73);
  border-width: 0.1px;
  border-style: solid;
  border-radius: 5px;
}

.homepage-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.profile-username {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.profile-username:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.post-description-user {
  display: flex;
  background-color: rgb(22, 22, 22);
  gap: 0.4rem;
  border: rgb(73, 73, 73);
  border-width: 0.1px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

.profile-username-desc {
  margin-top: 0.3rem;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  margin-left: 0.5rem;
}

.view-comments-div {
  display: flex;
  background-color: rgb(22, 22, 22);
  height: 2rem;
  align-items: center;
}
.view-comments-div > span {
  margin-left: 0.5rem;
}

.profile {
  background-color: rgb(22, 22, 22);
  padding-top: 0.3rem;
}

.comment-username {
  margin-left: 0.5rem;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}
.comment-username:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.comment-content {
  font-size: 14px;
  font-weight: 200;
}

.post-description {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 14px;
  font-weight: 500;
}

.view-comment-span {
  cursor: pointer;
}
