.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.homepage-post-img {
  height: 20rem;
  width: 30rem;
  object-fit: contain;
  background-color: black;
}

.homepage-container {
  display: flex;
  margin-top: 8rem;
  gap: 2.5rem;
  justify-content: center;
}
.username-nickname {
  display: flex;
  flex-direction: column;
}
